<div class="rmu-calc-pane">
  <p class="rmu-notes">
    Please select the type of calculation you wish to perform.
  </p>

  <div class="rmu-launcher-buttons">
    <button type="button" data-action="open-rule1">
      <img src="modules/rmu-complementary-skills/assets/boost-skill.svg" class="rmu-launcher-icon" alt="Boost Skill" />
      <div class="rmu-button-text">
        <span class="rmu-button-title">Boost Skill Check</span>
        <span class="rmu-button-note">Calculate a bonus from multiple skills.</span>
      </div>
    </button>

    <button type="button" data-action="open-rule2">
      <img src="modules/rmu-complementary-skills/assets/group-task.svg" class="rmu-launcher-icon" alt="Group Task" />
      <div class="rmu-button-text">
        <span class="rmu-button-title">Calculate Group Task</span>
        <span class="rmu-button-note">Calculate an average bonus for a group.</span>
      </div>
    </button>
  </div>
</div>